body {
    display: flex;
    background: lightcoral;
}

.form {
    /*background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("https://m.day.kyiv.ua/sites/default/files/news/01092016/255079.jpg");*/
    /*background-size: 1300px;*/
    background-color: #1c1c1c;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 220px 620px;
    /* grid-column-gap: 20px; */
    padding: 20px 20px 20px 20px;
    margin: 0;
    width: 840px;
    height: 840px;
    overflow: hidden;
}

.prepod_face_and_name {
  display: flex;
  flex-direction: column;
  
}

.prepod_face {
    margin: 0 auto; 
    height: 200px;
    width: auto;
    border: 5px solid black;
}

.prepod_name {
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.left_info {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: yellowgreen;*/
}

.right_info {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: brown;*/
}

.characteristic_desc {
    font-size: 18px;
    margin: 0 0 25px;
    color: gray;
    width: 100%;
    font-weight: normal;
}

.characteristic_num {
    font-size: 36px;
    font-weight: bold;
    padding-top: 15px;
    margin: 0;
}

.contract_percent {
    color: yellowgreen;
}

.listening_num {
    color: yellow;
}

.respondents_num {
    color: #ffffff;
}

.radial {
    display: flex;
    margin: 0 auto;
    width: 575px;
    height: 60%;
}

.general_numbers {
    margin-top: 30px;
}

.graph_education {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
    text-align: center;
    max-width: 600px;
}

/* .graph {
    min-height: 60%;
    max-width: 100%;
} */

.education_level {
    font-size: 16px;
}

.characteristics_inline {
    display: flex;
}

.graphs {
    display: flex;
    width: 100%;
}

#drop_zone {
    background: white;
    height: max-content;
    color: gray;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 32px;
    width: 500px;
    margin-left: 25px;
    border: 5px dashed gray;
    padding: 30px;
    border-radius: 25px;
}

.manage_zone {
    display: flex;
    flex-direction: column;
}

#table-URL {
  font-size: 20px;
  width: 600px;
  height: 80px;
  margin-top: 25px;
  margin-left: 25px;
}

#table-prepods-URL {
  font-size: 20px;
  width: 600px;
  height: 80px;
  margin-top: 25px;
  margin-left: 25px;
}

#draw-button {
  font-size: 20px;
  width: 600px;
  height: 30px;
  margin-top: 5px;
  margin-left: 25px;
}

.helper_div {
  position: relative;
  height: 222px;
  width: 286px;
}

#confidence-interval {
  margin-top: 25px;
  margin-left: 25px;
  background-color: black;
  color: white;
}